.form-inline .form-control {
    display: inline-block;
    width: 250px;
    vertical-align: middle;
    margin-left: 10px;
}
.blanket_address_checkout,
#cart_products_summary {
    display: none;
    .cart_products_summary_line {
        display: none;
    }
}
.progress-wizard-step {
    cursor: pointer;
}
.blanket_confirm {
    display: block
}
.enterprise_sale_10 {
    #cart_products_summary,
    .blanket_order_select,
    .cart_summary_title {
        display: block;
    }
    .blanket_payment,
    .blanket_confirm,
    .blanket_address_checkout {
        display: none;
    }
}
.enterprise_sale_20 {
    .blanket_order_select,
    .blanket_payment,
    .blanket_confirm,
    .cart_summary_title {
        display: none;
    }
    #cart_products_summary,
    .blanket_address_checkout {
        display: block;
    }
    .cart_summary_body {
        padding: 0;
    }
    .cart_summary_body {
        .checkout {
            display: none !important;
        }
    }
}
.enterprise_sale_40 {
    .blanket_order_select,
    .blanket_address_checkout,
    .blanket_confirm,
    .cart_summary_title {
        display: none;
    }
    #cart_products_summary,
    .blanket_payment {
        display: block;
    }
    .cart_summary_body {
        padding: 0;
    }
    .cart_summary_body {
        .checkout {
            display: none !important;
        }
    }
}
.blanket_confirm_page {
    .cart_summary_body {
        padding: 0;
    }
    .cart_summary_title {
        display: none;
    }
    #cart_products_summary{
        display: block;
    }
}
.one_kanban {
    padding: 15px;
}
.button-group-payment {
    padding: 15px 0;
}
#shipping_and_billing {
    .payment-back {
        color: #00A09D;
        background-color: transparent;
        cursor: pointer;
    }
}
.enterprise-sale-search-name {
    display: none;
    text-transform: lowercase;
}